In [1]:
import numpy as np
import pandas as pd

from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv("cleanCMURevenueAdjusted.tsv", sep="\t")
df.head()

,WikiID,Name,Revenue,ReleaseDate,Languages,Countries,Genres,Summary,Year,AdjustedRevenue
0,975900,Ghosts of Mars,14010832.0,2001-08-24,['English Language'],['United States of America'],"['Thriller', 'Science Fiction', 'Horror', 'Adv...","Set in the second half of the 22nd century, th...",2001.0,2.022468e+07
1,9363483,White Of The Eye,NaN,1987,['English Language'],['United Kingdom'],"['Thriller', 'Erotic thriller', 'Psychological...",A series of murders of rich young women throug...,1987.0,NaN
2,261236,A Woman in Flames,NaN,1983,['German Language'],['Germany'],['Drama'],"Eva, an upper class housewife, becomes frustra...",1983.0,NaN
3,18998739,The Sorcerer's Apprentice,NaN,2002,['English Language'],['South Africa'],"['Family Film', 'Fantasy', 'Adventure', 'World...","Every hundred years, the evil Morgana returns...",2002.0,NaN
4,6631279,Little city,NaN,1997-04-04,['English Language'],['United States of America'],"['Romantic comedy', 'Ensemble Film', 'Comedy-d...","Adam, a San Francisco-based artist who works a...",1997.0,NaN

In [30]:
train.head()

,WikiID,Name,Revenue,ReleaseDate,Languages,Countries,Genres,Summary,Year,AdjustedRevenue
36051,15721024,Moonlight and Valentino,2484226.0,1995-09-29,['English Language'],"['United States of America', 'United Kingdom']","['Drama', 'Romantic drama', 'Romance Film', 'C...",Rebecca Lott is a thirtysomething poetry teach...,1995.0,4.168931e+06
26653,3954917,The Amityville Horror,86432520.0,1979-07-27,['English Language'],['United States of America'],"['Cult', 'Drama', 'Film adaptation', 'Horror',...","A couple proceeds with the purchase, and moves...",1979.0,3.046001e+08
6506,34569548,V/H/S,87629.0,2012-01-22,['English Language'],['United States of America'],"['Thriller', 'Cult', 'Horror', 'Erotic thriller']",Directed by Adam Wingard The film is an ant...,2012.0,9.755647e+04
26903,3123751,Tightrope,48143579.0,1984-08-17,['English Language'],['United States of America'],"['Thriller', 'Crime Fiction', 'Psychological t...",A young woman walking home from her birthday p...,1984.0,1.185608e+08
32009,3950291,Live Flesh,1713459.0,1997-10-29,"['Italian Language', 'Spanish Language']","['France', 'Spain']","['Thriller', 'Melodrama', 'Erotica', 'World ci...","Madrid, Christmas 1970: with the nation under ...",1997.0,2.727656e+06

In [5]:
titleX.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [6]:
features = train[["Name", "Year", "Languages", "Countries", "Genres", "Summary"]]
label = train["Revenue"]

In [8]:
df.dtypes["AdjustedRevenue"]

dtype('float64')

In [9]:
df.min()

C:\Users\akash\Anaconda3\lib\site-packages\scipy\sparse\compressed.py:303: SparseEfficiencyWarning: Comparing sparse matrices using >= and <= is inefficient, using <, >, or !=, instead.
  "using <, >, or !=, instead.", SparseEfficiencyWarning)

WikiID                                                           330
Name                                           !Women Art Revolution
Revenue                                                        10200
Languages          ['Aboriginal Malay languages', 'English Langua...
Countries                                   ['Afghanistan', 'India']
Genres             ["Children's Entertainment", "Children's/Famil...
Summary                A giant demon-possessed boar attacks an Em...
Year                                                            1893
AdjustedRevenue                                              11954.6
dtype: object

In [10]:
df.max()

WikiID                                                      37501922
Name                                                     ₤500 Reward
Revenue                                                  2.78228e+09
Languages                                                         []
Countries                                                         []
Genres                                                            []
Summary            ”The story concerns a relentless dreamer who, ...
Year                                                            2014
AdjustedRevenue                                          7.33021e+09
dtype: object

In [11]:
df.dropna()

,WikiID,Name,Revenue,ReleaseDate,Languages,Countries,Genres,Summary,Year,AdjustedRevenue,tokenizedTitle
0,975900,Ghosts of Mars,14010832.0,2001-08-24,['English Language'],['United States of America'],"['Thriller', 'Science Fiction', 'Horror', 'Adv...","Set in the second half of the 22nd century, th...",2001.0,2.022468e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
5,171005,Henry V,10161099.0,1989-11-08,['English Language'],['United Kingdom'],"['Costume drama', 'War film', 'Epic', 'Period ...",{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...,1989.0,2.093678e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
8,77856,Mary Poppins,102272727.0,1964-08-27,['English Language'],['United States of America'],"[""Children's/Family"", 'Musical', 'Fantasy', 'C...",The film opens with Mary Poppins perched in a...,1964.0,8.429252e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
12,156558,Baby Boy,29381649.0,2001-06-27,['English Language'],['United States of America'],"['Crime Fiction', 'Drama', 'Coming of age']",A young 20-year-old named Jody lives with his...,2001.0,4.241249e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
22,261237,The Gods Must Be Crazy,34331783.0,1980,"['Afrikaans Language', 'English Language']",['South Africa'],"['Adventure', 'Action/Adventure', 'Indie', 'Wo...",The film is a collision of three separate stor...,1980.0,1.066477e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
23,12008535,Rudo y Cursi,11091868.0,2008,['Spanish Language'],"['Mexico', 'United States of America']","['Sports', 'Drama', 'Family Drama', 'Comedy-dr...","In the fictional farming village of Tlachtlán,...",2008.0,1.316596e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
24,4951456,Kinjite: Forbidden Subjects,3416846.0,1989,['English Language'],['United States of America'],"['Crime Fiction', 'Action/Adventure', 'Action'...",A Japanese businessman sees a woman being grop...,1989.0,7.040356e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
25,5708633,The Great New Wonderful,172055.0,2006-06-23,['English Language'],['United States of America'],"['Drama', 'Ensemble Film', 'Comedy-drama', 'In...",The Great New Wonderful is a series of vignett...,2006.0,2.181640e+05,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
26,12053509,Loverboy,3960327.0,1989-04-28,['English Language'],['United States of America'],"['Romantic comedy', 'Romance Film', 'Comedy']","Randy Bodek is a rebellious college slacker, ...",1989.0,8.160190e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
37,7028314,The Little Hut,3600000.0,1957-05-03,['English Language'],['United States of America'],"['Romantic comedy', 'Romance Film', 'Comedy']","Sir Philip Ashlow , his neglected wife, Lady A...",1957.0,3.285000e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
43,12788657,The Boston Strangler,17810894.0,1968,['English Language'],['United States of America'],"['Crime Fiction', 'Mystery', 'Thriller', 'Dram...",The first part of the film shows the police in...,1968.0,1.309549e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
58,3873713,Lee Dae-ro Can't Die,4736013.0,2005-08-18,['Korean Language'],['South Korea'],"['Action', 'Comedy']","An officer in the violent crimes division, Dae...",2005.0,6.197446e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
60,164387,...And Justice for All,33300000.0,1979-06-29,['English Language'],['United States of America'],"['Thriller', 'Crime Fiction', 'Comedy-drama', ...",Arthur Kirkland is a hotheaded but idealistic...,1979.0,1.173538e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
62,24282217,The Naked Kitchen,638181.0,2009-02-05,['Korean Language'],['South Korea'],"['World cinema', 'Comedy-drama', 'Drama', 'Com...",Ahn Mo-rae and Han Sang-in have been friends s...,2009.0,7.601643e+05,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
63,7767613,Star!,4000000.0,1968-07-18,['English Language'],['United States of America'],"['Biography', 'Musical', 'Drama', 'Biopic [fea...","The film opens in 1940, with Lawrence in a scr...",1968.0,2.941007e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
65,22985953,Beachhead,1400000.0,1954-02-05,[],['United States of America'],"['Action/Adventure', 'Action', 'Drama', 'Film ...","{{Expand section}} In late October 1943, a bat...",1954.0,1.324815e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
69,3550323,Things to Do in Denver When You're Dead,529677.0,1995-10,['English Language'],['United States of America'],"['Thriller', 'Crime Fiction', 'Crime Comedy', ...","Jimmy ""The Saint"" Tosnia is a dapper ex-gangs...",1995.0,8.888832e+05,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
71,1765938,Convoy,45000000.0,1978,['English Language'],['United States of America'],"['Action/Adventure', 'Action', 'Drama', 'Comedy']","{{Plot}} Truck driver Martin ""Rubber Duck"" Pen...",1978.0,1.762069e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
76,1305819,C.H.U.D.,4650000.0,1984-08-31,['English Language'],['United States of America'],"['Monster movie', 'Natural horror films', 'Sci...",The film opens with a woman walking her dog do...,1984.0,1.145133e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
80,1031231,"Black Cat, White Cat",351447.0,1998-09-10,"['Romani language', 'Italian Language', 'Serbo...","['France', 'Yugoslavia', 'Germany']","['Romantic comedy', 'Comedy', 'Music', 'Comedy...","Matko Destanov, a small-time Roma smuggler and...",1998.0,5.508878e+05,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
82,6305925,The Astronaut Farmer,11130889.0,2006-10-15,"['English Language', 'Spanish Language']",['United States of America'],"['Science Fiction', 'Americana', 'Drama', 'Adv...",Charles Farmer is a former astronaut-in-traini...,2006.0,1.411386e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
83,196176,Straw Dogs,11148828.0,1971-11-03,['English Language'],"['United States of America', 'United Kingdom']","['Thriller', 'Drama']","David Sumner , a timid American mathematician,...",1971.0,7.033396e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
94,748616,"Spring, Summer, Fall, Winter... and Spring",9524745.0,2003-08-14,['Korean Language'],"['South Korea', 'Germany']","['Drama', 'World cinema']","The film is divided into five segments , each ...",2003.0,1.322594e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
97,336846,Grease,394589888.0,1978-06-16,['English Language'],['United States of America'],"['Romantic comedy', 'LGBT', 'Musical', 'Comedy...","In the summer of 1959, local boy Danny Zuko a...",1978.0,1.545099e+09,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
107,3033993,Becoming Jane,37311672.0,2007-03-02,['English Language'],"['Ireland', 'United Kingdom']","['Biography', 'Costume drama', 'Period piece',...",Jane Austen is the younger daughter of Revere...,2007.0,4.599823e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
112,103021,Midnight Express,35000000.0,1978-08-31,"['French Language', 'English Language']","['United States of America', 'United Kingdom']","['Thriller', 'LGBT', 'Indie', 'Crime Fiction',...","On October 6, 1970, while on holiday in Istanb...",1978.0,1.370498e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
114,1940449,RoboCop 3,10600000.0,1993-11-05,['English Language'],['United States of America'],"['Crime Fiction', 'Thriller', 'Science Fiction...","Omni Consumer Products , on the verge of bankr...",1993.0,1.874256e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
122,6703617,The Forbidden Kingdom,127906624.0,2008-04-04,"['Standard Mandarin', 'English Language', 'Sta...","['United States of America', 'Hong Kong', 'Chi...","['Wuxia', 'Fantasy Adventure', 'Adventure', 'A...","In this film, which is based loosely on the an...",2008.0,1.518241e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
126,362719,Superman,300218018.0,1978-12-10,['English Language'],"['United States of America', 'United Kingdom']","['Science Fiction', 'Adventure', 'Superhero mo...","On the planet Krypton, using evidence provided...",1978.0,1.175566e+09,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
136,4459059,Trial and Error,14598571.0,1997-05-30,['English Language'],['United States of America'],"['Romantic comedy', 'Romance Film', 'Slapstick...",Charlie Tuttle is a partner in a successful l...,1997.0,2.323947e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
...,...,...,...,...,...,...,...,...,...,...,...
42058,5444420,The Bridge of San Luis Rey,1800141.0,2005-06-10,"['English Language', 'Spanish Language']","['France', 'Spain', 'United States of America'...","['Period piece', 'Drama', 'Indie', 'Film adapt...",The film starts at a public hearing of a counc...,2005.0,2.355626e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42062,2450370,Must Love Dogs,58405313.0,2005-07-21,"['Armenian Language', 'English Language']",['United States of America'],"['Romantic comedy', 'Romance Film', 'Comedy']","Sarah Nolan, a 40-year-old divorced preschool ...",2005.0,7.642795e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42066,675878,The Great White Hype,8008255.0,1996-05-03,['English Language'],['United States of America'],"['Parody', 'Sports', 'Satire', 'Comedy', 'Boxi...","{{Unreferenced}} James ""The Grim Reaper"" Roper...",1996.0,1.305333e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42067,3027347,Blown Away,30155037.0,1994-07-01,"['Irish', 'English Language']",['United States of America'],"['Thriller', 'Action/Adventure', 'Action']","Ryan Gaerity , an Irish terrorist, escapes fro...",1994.0,5.197040e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42071,6456053,The Yellow Rolls-Royce,5400000.0,1964-12-31,['English Language'],['United Kingdom'],"['Drama', 'Comedy of manners', 'Comedy-drama',...",On a flat bed lorry driven in the streets of L...,1964.0,4.450645e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42082,5971762,The Truth About Charlie,7093284.0,2002-10-16,"['French Language', 'Arabic Language', 'Englis...","['United States of America', 'Germany']","['Romantic comedy', 'Thriller', 'Comedy Thrill...",British newlywed Regina Lambert lives in Paris...,2002.0,1.008253e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42101,1840870,Rising Sun,107198790.0,1993-07-30,['English Language'],['United States of America'],"['Thriller', 'Crime Fiction', 'Mystery', 'Dram...",During a party at the United States offices of...,1993.0,1.895453e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42107,1138104,Beverly Hills Cop III,119208989.0,1994-05-25,['English Language'],['United States of America'],"['Crime Fiction', 'Buddy film', 'Action Comedy...",One night in Detroit during a shoot-out at a c...,1994.0,2.054496e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42118,883432,Gone in Sixty Seconds,237202298.0,2000,['English Language'],['United States of America'],"['Crime Fiction', 'Thriller', 'Heist', 'Action...","Retired master car thief Randall ""Memphis"" Rai...",2000.0,3.518443e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42119,6707631,Dead Man Walking,83088295.0,1995-12-29,['English Language'],"['United States of America', 'United Kingdom']","['Crime Fiction', 'Drama']",Matthew Poncelet has been in prison six years...,1995.0,1.394355e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42120,35028178,Fast Charlie... the Moonbeam Rider,444334.0,1979-05-01,['English Language'],['United States of America'],['Comedy film'],"During the 1920s, a World War I deserter compe...",1979.0,1.565894e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42124,3147170,Noises Off...,2280148.0,1992-03-20,['English Language'],['United States of America'],"['Parody', 'Comedy', 'Slapstick']",The film follows the concept of a play within ...,1992.0,4.153853e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42125,26254041,April Love,4000000.0,1957-11-27,['English Language'],['United States of America'],"['Animal Picture', 'Musical', 'Drama', 'Film a...","{{Expand section}} A Chicago youth, Nick Conov...",1957.0,3.650000e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42127,181601,The Edge,43312294.0,1997-09-06,['English Language'],['United States of America'],"['Thriller', 'Action', 'Drama', 'Adventure']","Charles Morse , a billionaire with an eidetic ...",1997.0,6.894885e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42130,6322722,Broken Bridges,252539.0,2006-09-08,['English Language'],['United States of America'],"['Music', 'Drama']","Bo Price , a down-and-out country singer, has ...",2006.0,3.202169e+05,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42131,10149834,Ponyo,202614288.0,2008-07-19,['Japanese Language'],['Japan'],"['Japanese Movies', 'Adventure', 'World cinema...",Brunhilde is a fish-girl who lives with her fa...,2008.0,2.405015e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42140,2472440,Turbulence,11538235.0,1997-01-10,['English Language'],['United States of America'],"['Thriller', 'Disaster', 'Action', 'Action/Adv...",After Ryan Weaver is arrested for a murder tha...,1997.0,1.836772e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42149,1789884,Best of Youth,2693053.0,2003,"['Italian Language', 'English Language', 'Norw...",['Italy'],['Drama'],The Best of Youth is a family saga set in Ital...,2003.0,3.739538e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42152,22427855,Adam,2549605.0,2009-01-20,['English Language'],['United States of America'],"['Indie', 'Comedy-drama', 'Drama', 'Comedy', '...",Adam Raki is a young man with Asperger syndro...,2009.0,3.036942e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42159,11823946,Twelfth Night: Or What You Will,588621.0,1996-10-25,['English Language'],"['United States of America', 'Ireland', 'Unite...","['Romantic comedy', 'Romance Film', 'Drama', '...",Viola and Sebastian are young twins and ente...,1996.0,9.594428e+05,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42166,303933,Twister,494471524.0,1996-05-10,['English Language'],['United States of America'],"['Action/Adventure', 'Disaster']","In June 1969, a family, including a five year-...",1996.0,8.059807e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42167,25920477,Source Code,147332697.0,2011-03-11,['English Language'],"['France', 'United States of America']","['Thriller', 'Science Fiction', 'Action/Advent...","Army helicopter pilot, Captain Colter Stevens...",2011.0,1.674906e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42171,4492078,How to Eat Fried Worms,13040527.0,2006-08-25,['English Language'],['United States of America'],"['Family Film', 'Drama', 'Comedy', 'Film adapt...",{{plot|date List of Worms Eaten in the Film #...,2006.0,1.653526e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42175,6740261,Eternally Yours,683131.0,1939-10-07,['English Language'],['United States of America'],"['Family Drama', 'Black-and-white', 'Drama', '...",Anital Halstead goes to see a magic act perfo...,1939.0,1.246714e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42181,1191380,Wilde,2158775.0,1997,['English Language'],"['Kingdom of Great Britain', 'Japan', 'England...","['LGBT', 'Biography', 'Japanese Movies', 'Hist...",The film opens with Oscar Wilde's 1882 visit t...,1997.0,3.436555e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42182,54540,Coming to America,288752301.0,1988-06-29,['English Language'],['United States of America'],"['Romantic comedy', 'Comedy of manners', 'Dram...","Akeem Joffer , the prince and heir to the thro...",1988.0,6.239003e+08,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42191,7761830,Spaced Invaders,15369573.0,1990,['English Language'],['United States of America'],"['Alien Film', 'Science Fiction', 'Family Film...","The space armada from Mars, known as the Imper...",1990.0,3.003385e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42194,1918494,State and Main,6944471.0,2000-08-26,"['Italian Language', 'English Language']","['France', 'United States of America']","['Parody', 'Americana', 'Comedy']",Havoc is wrought on the inhabitants of a small...,2000.0,1.030080e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42195,664006,Guilty as Sin,22886222.0,1993-06-04,[],['United States of America'],"['Thriller', 'Erotic thriller', 'Psychological...",Jennifer Haines is an up-and-coming Chicago a...,1993.0,4.046664e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."
42198,26482675,Eşrefpaşalılar,1847671.0,2010-03-05,[],[],"['Comedy film', 'Drama']","The film is about two friends, Tayyar , a mafi...",2010.0,2.165504e+06,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n..."

In [16]:
df["AdjustedRevenue"].replace([np.inf, -np.inf], np.nan).dropna()

0        2.022468e+07
5        2.093678e+07
8        8.429252e+08
12       4.241249e+07
22       1.066477e+08
23       1.316596e+07
24       7.040356e+06
25       2.181640e+05
26       8.160190e+06
37       3.285000e+07
43       1.309549e+08
58       6.197446e+06
60       1.173538e+08
62       7.601643e+05
63       2.941007e+07
65       1.324815e+07
69       8.888832e+05
71       1.762069e+08
76       1.145133e+07
80       5.508878e+05
82       1.411386e+07
83       7.033396e+07
94       1.322594e+07
97       1.545099e+09
107      4.599823e+07
112      1.370498e+08
114      1.874256e+07
122      1.518241e+08
126      1.175566e+09
136      2.323947e+07
             ...
42058    2.355626e+06
42062    7.642795e+07
42066    1.305333e+07
42067    5.197040e+07
42071    4.450645e+07
42082    1.008253e+07
42101    1.895453e+08
42107    2.054496e+08
42118    3.518443e+08
42119    1.394355e+08
42120    1.565894e+06
42124    4.153853e+06
42125    3.650000e+07
42127    6.894885e+07
42130    3.202169e+05
42131    2.405015e+08
42140    1.836772e+07
42149    3.739538e+06
42152    3.036942e+06
42159    9.594428e+05
42166    8.059807e+08
42167    1.674906e+08
42171    1.653526e+07
42175    1.246714e+07
42181    3.436555e+06
42182    6.239003e+08
42191    3.003385e+07
42194    1.030080e+07
42195    4.046664e+07
42198    2.165504e+06
Name: AdjustedRevenue, Length: 7530, dtype: float64

In [18]:
df.min()

WikiID                                                           330
Name                                           !Women Art Revolution
Revenue                                                        10200
Languages          ['Aboriginal Malay languages', 'English Langua...
Countries                                   ['Afghanistan', 'India']
Genres             ["Children's Entertainment", "Children's/Famil...
Summary                A giant demon-possessed boar attacks an Em...
Year                                                            1893
AdjustedRevenue                                              11954.6
dtype: object

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [47]:
df.max()

WikiID                                                      37501922
Name                                                     ₤500 Reward
Revenue                                                  2.78228e+09
Languages                                                         []
Countries                                                         []
Genres                                                            []
Summary            ”The story concerns a relentless dreamer who, ...
Year                                                            2014
AdjustedRevenue                                          7.33021e+09
dtype: object

In [21]:
df["AdjustedRevenue"].mean()

93794863.2397851

In [22]:
 df['OptimizedRevenue'] = (df['AdjustedRevenue']<=93794863.2397851) & (df['AdjustedRevenue']<=93794863.2397851)

In [23]:
df.head()

,WikiID,Name,Revenue,ReleaseDate,Languages,Countries,Genres,Summary,Year,AdjustedRevenue,tokenizedTitle,OptimizedRevenue
0,975900,Ghosts of Mars,14010832.0,2001-08-24,['English Language'],['United States of America'],"['Thriller', 'Science Fiction', 'Horror', 'Adv...","Set in the second half of the 22nd century, th...",2001.0,2.022468e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",True
1,9363483,White Of The Eye,NaN,1987,['English Language'],['United Kingdom'],"['Thriller', 'Erotic thriller', 'Psychological...",A series of murders of rich young women throug...,1987.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",False
2,261236,A Woman in Flames,NaN,1983,['German Language'],['Germany'],['Drama'],"Eva, an upper class housewife, becomes frustra...",1983.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",False
3,18998739,The Sorcerer's Apprentice,NaN,2002,['English Language'],['South Africa'],"['Family Film', 'Fantasy', 'Adventure', 'World...","Every hundred years, the evil Morgana returns...",2002.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",False
4,6631279,Little city,NaN,1997-04-04,['English Language'],['United States of America'],"['Romantic comedy', 'Ensemble Film', 'Comedy-d...","Adam, a San Francisco-based artist who works a...",1997.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",False

In [24]:
df['OptimizedRevenue'].astype(int)

0        1
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       1
24       1
25       1
26       1
27       0
28       0
29       0
        ..
42174    0
42175    1
42176    0
42177    0
42178    0
42179    0
42180    0
42181    1
42182    0
42183    0
42184    0
42185    0
42186    0
42187    0
42188    0
42189    0
42190    0
42191    1
42192    0
42193    0
42194    1
42195    1
42196    0
42197    0
42198    1
42199    0
42200    0
42201    0
42202    0
42203    0
Name: OptimizedRevenue, Length: 42204, dtype: int32

In [25]:
df.head()

,WikiID,Name,Revenue,ReleaseDate,Languages,Countries,Genres,Summary,Year,AdjustedRevenue,tokenizedTitle,OptimizedRevenue
0,975900,Ghosts of Mars,14010832.0,2001-08-24,['English Language'],['United States of America'],"['Thriller', 'Science Fiction', 'Horror', 'Adv...","Set in the second half of the 22nd century, th...",2001.0,2.022468e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",True
1,9363483,White Of The Eye,NaN,1987,['English Language'],['United Kingdom'],"['Thriller', 'Erotic thriller', 'Psychological...",A series of murders of rich young women throug...,1987.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",False
2,261236,A Woman in Flames,NaN,1983,['German Language'],['Germany'],['Drama'],"Eva, an upper class housewife, becomes frustra...",1983.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",False
3,18998739,The Sorcerer's Apprentice,NaN,2002,['English Language'],['South Africa'],"['Family Film', 'Fantasy', 'Adventure', 'World...","Every hundred years, the evil Morgana returns...",2002.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",False
4,6631279,Little city,NaN,1997-04-04,['English Language'],['United States of America'],"['Romantic comedy', 'Ensemble Film', 'Comedy-d...","Adam, a San Francisco-based artist who works a...",1997.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",False

In [26]:
df['OptimizedRevenue'] = df['OptimizedRevenue'].astype(int)

In [27]:
df.head()

,WikiID,Name,Revenue,ReleaseDate,Languages,Countries,Genres,Summary,Year,AdjustedRevenue,tokenizedTitle,OptimizedRevenue
0,975900,Ghosts of Mars,14010832.0,2001-08-24,['English Language'],['United States of America'],"['Thriller', 'Science Fiction', 'Horror', 'Adv...","Set in the second half of the 22nd century, th...",2001.0,2.022468e+07,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",1
1,9363483,White Of The Eye,NaN,1987,['English Language'],['United Kingdom'],"['Thriller', 'Erotic thriller', 'Psychological...",A series of murders of rich young women throug...,1987.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",0
2,261236,A Woman in Flames,NaN,1983,['German Language'],['Germany'],['Drama'],"Eva, an upper class housewife, becomes frustra...",1983.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",0
3,18998739,The Sorcerer's Apprentice,NaN,2002,['English Language'],['South Africa'],"['Family Film', 'Fantasy', 'Adventure', 'World...","Every hundred years, the evil Morgana returns...",2002.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",0
4,6631279,Little city,NaN,1997-04-04,['English Language'],['United States of America'],"['Romantic comedy', 'Ensemble Film', 'Comedy-d...","Adam, a San Francisco-based artist who works a...",1997.0,NaN,"(0, 550)\t1\n (0, 973)\t1\n (0, 4447)\t1\n...",0

In [29]:
train, test = train_test_split(df, test_size=0.3)
train = train.dropna()
test = test.dropna()

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

titleVectorizer = CountVectorizer()
titleX = titleVectorizer.fit_transform(train["Name"])
df["tokenizedTitle"] = titleX

In [31]:
features = train[["Name", "Year", "Languages", "Countries", "Genres", "Summary"]]
label = train['OptimizedRevenue']

In [32]:

from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(titleX.toarray(), label.values)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [39]:
testTitles = titleVectorizer.transform(test["Name"]).toarray()
y_pred3 = knn.predict(testTitles)
sum(y_pred3 == test['OptimizedRevenue'])/len(y_pred3)

0.7496796240922683

In [40]:
set(y_pred3)

{0, 1}